<%= form_for(medical_practitioner_profile) do |f| %>
  <% if medical_practitioner_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(medical_practitioner_profile.errors.count, "error") %> prohibited this medical_practitioner_profile from being saved:</h2>

      <ul>
      <% medical_practitioner_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :registration_number %>
    <%= f.text_field :registration_number %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
