<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @medical_practitioner_profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @medical_practitioner_profile.last_name %>
</p>

<p>
  <strong>Registration number:</strong>
  <%= @medical_practitioner_profile.registration_number %>
</p>

<%= link_to 'Edit', edit_medical_practitioner_profile_path(@medical_practitioner_profile) %> |
<%= link_to 'Back', medical_practitioner_profiles_path %>
