<% @dashboard.each_with_index do |listing, index| %>
    <% current_patient = PatientProfile.find_by(id: listing.patient.id) %>

<tr>
    <td> <%= index + 1 %> </td>
    <td> <%= MedicalCondition.find_by(id: listing.medical_condition.id).name %> </td>
    <td> <%= current_patient.first_name.humanize + ' ' + current_patient.last_name.humanize %></td>
    <td> <%= Gender.find_by(id: current_patient.gender.id).name %></td>
    <td> <%= current_patient.date_of_birth %> </td>
    <td> Quote status placeholder</td>
</tr>
<% end%>