<% case current_user.role.to_i %>
<% when 1 %> 
    <% profile = PatientProfile.find_by(user_id: current_user.id) %>
<% when 2 %> 
    <% profile = PractitionerProfile.find_by(user_id: current_user.id) %>
<% end %>

<% if profile.photo_url.nil? || profile.photo_url.empty? %>
    <% photo_to_display = 'no_image.png' %>
<% else %>
    <% photo_to_display = profile.photo_url %>
<% end %>

<div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
        <%= image_tag photo_to_display, width: 200 , height: 200 , class: "img-responsive"%>
        <h4><%= profile.first_name.humanize + ' ' + profile.last_name.humanize%></h4>
        <span class="text-muted"><%= profile.registration_number %></span>,
        <span class="text-muted"><%= Gender.find_by(id: profile.gender.id).name %></span>,
        <span class="text-muted"><%=Specialty.find_by(id: profile.specialty.id).name%></span>
    </div>

    <div class="col-xs-6 col-sm-3 placeholder">
        <div class="dashboard-stats">  
            <%= Quote.where(practitioner_id: current_user.id).count %>
        </div>
        <h4>quote(s) issued</h4>
    </div>

    <div class="col-xs-6 col-sm-3 placeholder">
        <div class="dashboard-stats">  
            <%= Quote.where(payment_status: 'Paid').count %>
        </div>
        <h4>completed</h4>
    </div>

    <div class="col-xs-6 col-sm-3 placeholder">
        <div class="dashboard-stats">  
            5
        </div>
        <h4>reviews received</h4>
    </div>


</div>

<h2 class="sub-header">Practitioner listings</h2>

