  <h1> Current Role : <%= ValidRole.find_by(id: current_user.role.to_i).id %>  </h1>
  
  <div class="container-fluid">
      <div class="row">
        <!--Place holder for basic analytics-->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Dashboard</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
          </div>

          <h2 class="sub-header">Section title</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <% case ValidRole.find_by(id: current_user.role.to_i).id %>
                  <% when 1 %>
                      <%= render 'dashboard/patient_header'%>
                  <% when 2 %>
                      <%= render 'dashboard/practitioner_header'%>
                  <% end %>
                </tr>
              </thead>
              <tbody>
                  <% case ValidRole.find_by(id: current_user.role.to_i).id %>
                  <% when 1 %>
                      <%= render 'dashboard/patient_data'%>
                  <% when 2 %>
                      <%= render 'dashboard/practitioner_data'%>
                  <% end %>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

