  <div class="container">
  
  
      <div class="row">
  <!--to be removed-->
      <h1> Current Role : <%= ValidRole.find_by(id: current_user.role.to_i).name %>  </h1>
        <!--Place holder for basic analytics-->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Dashboard</h1>

            <% case ValidRole.find_by(id: current_user.role.to_i).id %>
                  <% when 1 %>
                      <%= render 'dashboard/patient_stats'%>
                  <% when 2 %>
                      <%= render 'dashboard/practitioner_stats'%>
            <% end %>

          
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <% case ValidRole.find_by(id: current_user.role.to_i).id %>
                  <% when 1 %>
                      <%= render 'dashboard/patient_header'%>
                  <% when 2 %>
                      <%= render 'dashboard/practitioner_header'%>
                  <% end %>
                </tr>
              </thead>
              <tbody>
                  <% case ValidRole.find_by(id: current_user.role.to_i).id %>
                  <% when 1 %>
                      <%= render 'dashboard/patient_data'%>
                  <% when 2 %>
                      <%= render 'dashboard/practitioner_data'%>
                  <% end %>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

