<%= simple_form_for(@quote) do |f| %>
  <%= f.error_notification %>

  <%= f.association :listing, collection: Listing.all, value_method: :id %>

  <div class="form-inputs">
    <%= f.input :quote_cost %>
    <%= f.input :comments %>
  </div>

  <div class="form-inputs">
    <%= f.input :payment_status %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
