<p id="notice"><%= notice %></p>

<p>
  <strong>Practitioner ID:</strong>
  <%= @quote.practitioner.id %>
</p>

<p>
  <strong>Practitioner Name:</strong>
  <%= PractitionerProfile.find_by(user_id: @quote.practitioner.id).first_name + ' ' + PractitionerProfile.find_by(user_id: @quote.practitioner.id).last_name %>
</p>

<p>
  <strong>Quoted for listing:</strong>
  <%= @quote.listing.id %>
</p>

<p>
  <strong>Quote cost:</strong>
  <%= @quote.quote_cost %>
</p>



<p>
  <strong>Comments:</strong>
  <%= @quote.comments %>
</p>

<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-description="Payment for [placeholder]" 
        data-amount=@quote.quote_cost
        data-locale="aud">
</script>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', dashboard_index_path %>
