<p id="notice"><%= notice %></p>

<h1>Listings</h1>

<table>
  <thead>
    <tr>
      <th>Patient ID</th>
      <th>Patient First name</th>
      <th>Patient Last name</th>
      <th>Medical condition ID </th>
      <th>Medical condition</th>
      <th>Comments</th>
      <th>Photo medical data</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.patient.id %></td>
        <td><%= PatientProfile.find(listing.patient.id).first_name %></td>
        <td><%= PatientProfile.find(listing.patient.id).last_name %></td>
        <td><%= listing.medical_condition.id %></td>
        <td><%= MedicalCondition.find(listing.medical_condition.id).name %></td>
        <td><%= listing.comments %></td>
        <td><%= listing.photo_medical_data %></td>
        <td><%= link_to 'Show', listing %></td>
        <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
        <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Listing', new_listing_path %>
