
<div class="container">
    <div class="jumbotron">
      <div class="row">
        <div class="col-sm-6 col-md-6">
            <%= render 'jumbotron_left' %>
        </div>
        <div class="col-sm-6 col-md-6">
            <%= render 'jumbotron_right' %>

        </div>
    </div>
  </div>
</div>


<!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <%= render 'left_column' %>
      </div>
      <div class="col-md-4">
        <%= render 'mid_column' %>
      </div>
      <div class="col-md-4">
        <%= render 'right_column' %>
      </div>
    </div>



  </div> <!-- /container -->

