<%= simple_form_for(@practitioner_profile) do |f| %>
  <%= f.error_notification %>


  <div class="form-inputs">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :registration_number %>
    <%= f.association :specialty, collection: Specialty.all, value_method: :id %>
    <%= f.association :gender, collection: Gender.all, value_method: :id %>
    <%= f.association :region, collection: Region.all, value_method: :id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
