<%= simple_form_for(patient_profile) do |f| %>
  <% if patient_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient_profile.errors.count, "error") %> prohibited this patient_profile from being saved:</h2>

      <ul>
      <% patient_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :first_name , input_html: {class: "form-control"} %>
    <%= f.input :last_name , input_html: {class: "form-control"} %>


    <%= f.label :gender_id %>
    <%= f.collection_select(:gender_id, Gender.all, :id, :name, { :prompt => 'Select one', :selected => @patient_profile.gender_id }, { class: 'form-control' }) %>

    <%= f.input :date_of_birth , input_html: {class: "form-control"} %>

    <%= f.label :region_id %>
    <%= f.collection_select(:region_id, Region.all, :id, :name, { :prompt => 'Select one', :selected => @patient_profile.region_id }, { class: 'form-control' }) %>

    <%= f.label :ethnicity_id %>
    <%= f.collection_select(:ethnicity_id, Ethnicity.all, :id, :name, { :prompt => 'Select one', :selected => @patient_profile.ethnicity_id }, { class: 'form-control' }) %>

    <%= f.label :blood_type_id %>
    <%= f.collection_select(:blood_type_id, BloodType.all, :id, :name, { :prompt => 'Select one', :selected => @patient_profile.blood_type_id }, { class: 'form-control' }) %>

    <%= f.label :marital_status_id %>
    <%= f.collection_select(:marital_status_id, MaritalStatus.all, :id, :name, { :prompt => 'Select one', :selected => @patient_profile.marital_status_id }, { class: 'form-control' }) %>

    <%= f.label :allergy_id %>
    <%= f.collection_select(:allergy_id, Allergy.all, :id, :name, { :prompt => 'Select one', :selected => @patient_profile.allergy_id }, { class: 'form-control' }) %>

    <%= f.input :height , input_html: {class: "form-control"} %>

    <%= f.input :weight , input_html: {class: "form-control"} %>

    <%= f.input :contact_number , input_html: {class: "form-control"} %>

    <%= image_tag patient_profile.photo_url%>

    <%= f.input :photo, as: :file , input_html: {class: "form-control"} , label: "Upload photo"%>

    <br/>
     <%= f.button :submit , class:  "btn btn-lg btn-primary btn-block" %>
<% end %>
