<%= form_for(patient_profile) do |f| %>
  <% if patient_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient_profile.errors.count, "error") %> prohibited this patient_profile from being saved:</h2>

      <ul>
      <% patient_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= current_user.id %>
  </div>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :gender_id %>
    <%= f.collection_select(:gender_id, Gender.all, :id, :name, { :prompt => 'Select one', :selected => @patient_profile.gender_id }, { class: 'form-control' }) %>
  </div>

  <div class="field">
    <%= f.label :date_of_birth %>
    <%= f.text_field :date_of_birth %>
  </div>

  <div class="field">
    <%= f.label :region_id %>
    <%= f.collection_select(:region_id, Region.all, :id, :name, { :prompt => 'Select one', :selected => @patient_profile.region_id }, { class: 'form-control' }) %>
  </div>

  <div class="field">
    <%= f.label :ethnicity_id %>
    <%= f.collection_select(:ethnicity_id, Ethnicity.all, :id, :name, { :prompt => 'Select one', :selected => @patient_profile.ethnicity_id }, { class: 'form-control' }) %>
  </div>

  <div class="field">
    <%= f.label :blood_type_id %>
    <%= f.collection_select(:blood_type_id, BloodType.all, :id, :name, { :prompt => 'Select one', :selected => @patient_profile.blood_type_id }, { class: 'form-control' }) %>
  </div>

  <div class="field">
    <%= f.label :marital_status_id %>
    <%= f.collection_select(:marital_status_id, MaritalStatus.all, :id, :name, { :prompt => 'Select one', :selected => @patient_profile.marital_status_id }, { class: 'form-control' }) %>
  </div>

  <div class="field">
    <%= f.label :allergy_id %>
    <%= f.collection_select(:allergy_id, Allergy.all, :id, :name, { :prompt => 'Select one', :selected => @patient_profile.allergy_id }, { class: 'form-control' }) %>
  </div>

  <div class="field">
    <%= f.label :height %>
    <%= f.number_field :height %>
  </div>

  <div class="field">
    <%= f.label :weight %>
    <%= f.number_field :weight %>
  </div>

  <div class="field">
    <%= f.label :contact_number %>
    <%= f.number_field :contact_number %>
  </div>

  <div class="field">
    <p>Upload picture</p>
    <%= f.input :picture, as: :file%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
