<p id="notice"><%= notice %></p>

<p>
  <strong>Patient Profile ID:</strong>
  <%= @patient_profile.id %>
</p>

<p>
  <strong>User ID:</strong>
  <%= @patient_profile.user.id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @patient_profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @patient_profile.last_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @patient_profile.gender.id %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @patient_profile.date_of_birth %>
</p>

<p>
  <strong>Region:</strong>
  <%= @patient_profile.region.id %>
</p>

<p>
  <strong>Ethnicity:</strong>
  <%= @patient_profile.ethnicity.id %>
</p>

<p>
  <strong>Blood type:</strong>
  <%= @patient_profile.blood_type.id %>
</p>

<p>
  <strong>Marital status:</strong>
  <%= @patient_profile.marital_status.id %>
</p>

<p>
  <strong>Allergy:</strong>
  <%= @patient_profile.allergy.id %>
</p>

<p>
  <strong>Height:</strong>
  <%= @patient_profile.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @patient_profile.weight %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @patient_profile.contact_number %>
</p>

<%= link_to 'Edit', edit_patient_profile_path(@patient_profile) %> |
<%= link_to 'Back', patient_profiles_path %>
