<% if user_signed_in? %>
    <%= link_to 'Home', root_path %>
    <%= link_to 'Patient Profile', patient_profiles_path %>
    <%= link_to 'Practitioner Profile', practitioner_profiles_path %>
    <%= link_to 'Listings', listings_path %>
    <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
    
    <% case current_user.role.to_i %>
        <% when 1 %>
            <% current_profile = PatientProfile.find_by(id: current_user.id) %>%
        <% when 2 %>
            <% current_profile = PractitionerProfile.find_by(id: current_user.id) %>
    <% end %>

    <% if not current_profile.nil? %>
        <h3> Welcome <%= current_profile.first_name + ' ' + current_profile.last_name %> ! </h3>
    <% end  %>


<% else %>
    <%= link_to 'New User', new_user_registration_path %>
    <%= link_to 'Log in', new_user_session_path %>
<% end %>



